<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "/host_home.css">
</head>
<body>
    <h1>host home page </h1>
    <a href = '/host/addhome'> ready to add home </a>
</body>
</html>